@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-container {
  @apply container max-w-screen-xl mx-auto px-4 md:px-6;
}

.custom-container-no-p {
  @apply container max-w-screen-2xl mx-auto;
}

.custom-scroll::-webkit-scrollbar {
  width: 8px; /* width of the entire scrollbar */
}

.custom-scroll::-webkit-scrollbar-track {
  @apply bg-primary-50; /* color of the tracking area */
}

.custom-scroll::-webkit-scrollbar-thumb {
  @apply bg-primary/70; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  @apply bg-primary; /* color of the scroll thumb when hovering */
}

.btn {
  @apply py-2 px-4 rounded-lg;
}

.btn-lg {
  @apply py-4 px-6;
}

.btn-primary {
  @apply text-white bg-primary hover:bg-opacity-80;
}

.btn-primary-outlined {
  @apply text-primary border-solid border-primary/50 border hover:border-primary hover:bg-primary/10;
}

.form-control {
  @apply block  w-full focus:outline-none border border-grey text-base leading-5 rounded-lg px-3.5 py-2.5;
  transition: box-shadow, border-color 500ms ease-in-out;

  &-no-border {
    @apply block  w-full focus:outline-none text-base leading-5 bg-transparent;
    transition: box-shadow, 500ms ease-in-out;
  }

  &-error {
    @apply block w-full focus:outline-none border border-red-600 text-base leading-5 rounded px-3.5 py-2.5;
  }
}

.form-control:focus {
  box-shadow: rgba(67, 136, 131, 0.25) 0 0 0 0.2rem;
}

.form-label {
  @apply text-sm leading-4;
}

.hr {
  display: flex;
  align-items: center;
  margin: 2rem auto 1rem auto;
  text-align: center;
  color: #438883;
}

.hr::before,
.hr::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #d0d5dd;
  margin: 0 0.5rem;
}

.gradient-bg {
  background-image: linear-gradient(to right, #429690, #2a7c76);
}

.dark-bg {
  /* background-image: radial-gradient(
    #2f7e79 30%,
    #2a7c76 20%,
    #429690 10%,
    #1b5c58 60%
  ); */
  background-image: linear-gradient(to right, #1b5c58, #2f7e79);
}
.bx-shadow {
  box-shadow: 0 10px 20px rgba(27, 92, 88, 0.5);
}
